body {
    font-family: Arial, sans-serif;
    background-color: pink;
    margin: 20px;
}
.name,.contact,.dob,.personal {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 10px;
    padding: 5px;
    border-bottom: 2px solid #ccc;  
}

.submit-button {
     background-color: white;
    color: black; 
    border: 2px solid black;    
    padding: 10px 20px; 
    border-radius: 4px; 
    cursor: pointer; 
    font-size: 16px;
    text-align: center;
    background: transparent;
    transition: background-color 0.3s ease;
}
.submit-button:hover{
    background-color: pink;
    color: white;
    border: 2px solid black;
}
.container {
    max-width: 560px; 
    height: px;
    margin: 0 auto; 
    padding: 20px; 
    background-color: #f9f9f9; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}
.form-card {
    background-color: #ffffff; 
    padding: 20px; 
    margin-bottom: 20px; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}
.submit-btn{
    background-color: transparent;
    color: black; 
    border: none ;   
    padding: 10px 20px; 
    border-radius: 4px; 
    cursor: pointer; 
    font-size: 25px;
    /* transition: transform 0.3s, background-color 0.3s, color 0.3s, */
}
/* .submit-btn:hover{
    background-color: pink;
    /* color: white; */
    /* border: 2px solid black;   
} */
/* .facebook{
    width: 50px;
    height: 50px;
    margin-left:280px;
} */

.sociL-media{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;

}

.facebook{
     font-size: 40px;
    color: #3b5998;
    transition: transform 0.3s, color 0.3s;
}

.facebook:hover{
    color: #2d4373;
    transform: scale(1.2);
}
.twitter{
    font-size: 40px;
    color: #1da1f2;
    transition: transform 0.3s, color 0.3s;
}
.twitter:hover{
    color: #0d95e8;
    transform: scale(1.2);
}
.instagram{
    font-size: 40px;
    color: #e1306c;
    transition: transform 0.3s, color 0.3s;
} 
.instagram:hover{
    color: #c13584;
    transform: scale(1.2);
}

.linkedin{
    font-size: 40px;
    color: #0077b5;
    transition: transform 0.3s, color 0.3s;
}
.linkedin:hover{
    color: #005582;
    transform: scale(1.2);
}

fieldset {
    border: 2px solid black; 
    border-radius: 8px; 
    padding: 20px; 
    margin-bottom: 20px; 
}